#imaginary_container{
    margin-bottom:2%;
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

/* hidden list */

#locations{
	visibility: hidden;
}
.locations{
	visibility: hidden;
}